body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.chat-container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 300px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-name {
    font-size: 16px;
    font-weight: 500;
}

.search {
    margin-top: 10px;
    position: relative;
}

.search-input {
    width: calc(100% - 30px);
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.chat-item.active {
    background-color: #e6f7ff;
    font-weight: bold;
}

.chat-item.highlight {
    background-color: #add8e6;
    font-weight: bold;
}

.sidebar-footer {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.settings-btn,
.help-btn {
    background-color: transparent;
    color: #204064;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.settings-btn:hover,
.help-btn:hover {
    background-color: #e6f7ff;
}

.settings-icon,
.help-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 100px;
}

.new-chat-btn {
    background-color: #204064;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.new-chat-btn:hover {
    background-color: #0056b3;
}

.chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#message-box {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #f0f0f0;
    color: #888;
    width: 200px;
    margin-right: 10px;
}

.send-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.send-icon {
    width: 50px;
    height: 50px;
}

.send-btn:hover .send-icon {
    opacity: 0.7;
}
